:root {
  --color-1: 0 100% 63%;
  --color-2: 270 100% 63%;
  --color-3: 210 100% 63%;
  --color-4: 195 100% 63%;
  --color-5: 90 100% 63%;
}

@keyframes rainbow {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

.rainbow-button {
  position: relative;
  display: inline-flex;
  height: 44px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 8px 32px;
  font-weight: 500;
  color: white;
  transition: colors 0.3s;
  border: calc(0.08 * 1rem) solid transparent;
  background-size: 200%;
  background-clip: padding-box, border-box, border-box;
  background-origin: border-box;
  animation: rainbow 2s infinite linear;
  background-image:
    linear-gradient(#121213, #121213),
    linear-gradient(#121213 50%, rgba(18, 18, 19, 0.6) 80%, rgba(18, 18, 19, 0)),
    linear-gradient(
      90deg,
      hsl(var(--color-1)),
      hsl(var(--color-5)),
      hsl(var(--color-3)),
      hsl(var(--color-4)),
      hsl(var(--color-2))
    );
}

.rainbow-button:before {
  content: '';
  position: absolute;
  bottom: -20%;
  left: 50%;
  z-index: 0;
  height: 20%;
  width: 60%;
  transform: translateX(-50%);
  animation: rainbow 2s infinite linear;
  background-image: linear-gradient(
    90deg,
    hsl(var(--color-1)),
    hsl(var(--color-5)),
    hsl(var(--color-3)),
    hsl(var(--color-4)),
    hsl(var(--color-2))
  );
  background-size: 200%;
  filter: blur(calc(0.8 * 1rem));
}

.rainbow-button:focus {
  outline: none;
}

.rainbow-button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

@media (prefers-color-scheme: dark) {
  .rainbow-button {
    background-image:
      linear-gradient(#fff, #fff),
      linear-gradient(#fff 50%, rgba(255, 255, 255, 0.6) 80%, rgba(0, 0, 0, 0)),
      linear-gradient(
        90deg,
        hsl(var(--color-1)),
        hsl(var(--color-5)),
        hsl(var(--color-3)),
        hsl(var(--color-4)),
        hsl(var(--color-2))
      );
    color: #121213;
  }
}
